<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <a href="/countries">Countries</a> | 
    <a href="/customers">Customers</a> | 
    <a href="/offices">Offices</a> | 
    <a href="/employers">Employers</a> | 
    <a href="/routes">Routes</a>
    <br>
    <br>
    {{{body}}}
</body>
</html>